= simple_form_for @produto do |f|
  = f.input :nome
  = f.input :preco_unitario
  = f.input :quantidade
  = f.input :valor_gasto
  = f.input :valor_unitario
  = f.input :valor_venda_total
  = f.input :mercadoria_vendida
  = f.input :mercadoria_estoque
  = f.input :lucro
  = f.input :lucro_percentual
  = f.input :em_estoque
  = f.input :vendido
  = f.button :submit, "Enviar"
